.Navbar{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color :  rgb(255, 255, 255);
    color: black;
}
.Navbar span{
    padding: auto;
    padding-top: 5px;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: aquamarine;
}

.SearchBar {
    padding: 0.5rem;
    width: 50%; /* Makes the search bar width take half of the container */
    height: 3rem; /* Increase height */
}

.SearchBar input {
    width: 80%; /* Make the input fill the parent */
    height: 50px; /* Make input height match the parent */
    padding: 0.1rem; /* Add padding to make it more balanced */
    border: 1px solid rgb(206, 206, 206); /* Remove input border */
    outline: none; /* Remove the default focus outline */
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;    
    border-radius: .5rem;
}
